*
{
    margin: 0;
    padding: 0;

    /*内减模式*/
    box-sizing: border-box;

    /*列表去前缀*/
    list-style: none;

    /*去下划线*/
    text-decoration: none;
}

#main
{
    background-color: #7fa998;

    position: fixed;

    background-image: url('../images/cross.png');

    height: 100%;
    min-height: 1287px;

    width: 100%;
    min-width: 1400px;
}

.box
{
    background-color: #df8543;
    height: 900px;
    width: 800px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    border-radius:25px;
}

.top
{
    background-color: red;
    height: 150px;
    width:100%;

    line-height:150px;

    text-align: center;
}

.body
{
    background-color: blue;
    height: 750px;
    width:100%;
}

.login_box
{
    position: absolute;

    background-color: #a5aeff;

    padding: 25px 10px;

    border-radius: 10px;

    height: 180px;
    width: 280px;
}

.button
{
    position: absolute;
    left: 28%;
    /*transform: translate(-50%,0);*/

    display: inline-block;
    border-radius: 4px;
    background-color: #feffe0;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button:hover
{
    background-color: #c8e4fe
}

.button:active
{
    background-color: #6b76ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
