*
{
    margin: 0;
    padding: 0;

    /*内减模式*/
    box-sizing: border-box;

    /*列表去前缀*/
    list-style: none;

    /*去下划线*/
    text-decoration: none;
}

#main
{
    background-color: #7fa998;

    background-image: url('../images/cross.png');

    height: 100%;
    min-height: 1287px;

    width: 100%;
    min-width: 1400px;
}

.box
{
    background-color: #df8543;
    height: 900px;
    width: 850px;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    border-radius: 25px;
}

.top
{
    /*background-color: red;*/
    height: 150px;
    width: 100%;

    line-height: 150px;

    text-align: center;
}

.body
{
    /*background-color: blue;*/
    height: 750px;
    width: 100%;


    display: flex;
    flex-direction: column;
    position: absolute;

    flex: 1;
    overflow-y: auto;
}

.container {
    background: #fff;
    padding: 0 5px 50px;
}

.table-ui {
    width: 98.55%;
    border-collapse: collapse;
}

.table-ui tr th {
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    color: #909399;

    text-align: left;
    transform: translate(2%, 0);

    border-bottom: 1px solid #ebeef5;
}

.table-ui tr td {
    height: 30px;
    padding: 8px 0;
    font-size: 14px;
    color: #606266;

    text-align: left;
    transform: translate(10%, 0);

    border-bottom: 1px solid #ebeef5;
}

.table-ui .t1 {
    width: 25%;
    height: 40px;
}

.table-ui .t2 {
    width: 25%;
    height: 40px;
}

.table-ui .t3 {
    width: 20%;
    height: 40px;
}

.table-ui .t4 {
    width: 17%;
    height: 40px;
}

.table-ui tbody tr:hover {
    background: #f5f5f5;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.NO_DATA {
    box-sizing: border-box;

    width: 100%;
    height: 60px;

    line-height: 60px;
    font-size: 12px;

    color: #909399;

    border-bottom: 1px solid #ebeef5;

    text-align: center;
}

.button
{
    /*position: absolute;*/
    /*left: 28%;*/
    /*transform: translate(-50%,0);*/

    display: inline-block;
    border-radius: 4px;
    background-color: #feffe0;
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button:hover
{
    background-color: #c8e4fe
}

.button:active
{
    background-color: #6b76ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
